@charset "UTF-8";
@font-face {
    font-family: motivaSans;
    src: url(font/MotivaSansThin.ttf);
}


*{
    font-family: motivaSans;
    font-size: 14px;
}

body{
    background-color: #1B2838;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 50vh;

    background-attachment: scroll;
}

nav > button{
    display: inline-block;
    margin-left: 70em;
}


nav > .dois{
    display: inline-block;
    columns: 2;
    list-style: none;
}





header{
    background-color: #231F20;
    margin: -8px -8px 0px -8px;
}



#logo> a> .imagem{
    margin-left: 20em;
    height: 70px;
}

.conteudoInicio{
    display: inline-block;
    padding: 6px;
    position:relative;
    bottom: 30px;
}


button{
    display: inline-block;
    padding: 6px;
    background-color: #5A7D10;
    color: white;
    margin-top: -100px;
}


button:hover{
    color: #F0FFFF;
}


.conteudoInicio > .um{
    display: inline-block;
    list-style-type: none;

}

.conteudoInicio > button{
    font-size: 11px;
}

a{
    color: #A4A5A6;
    text-decoration: none;
}

.dois > a > .linhadois{
    font-size: 11px;
    display: inline-block;
    position:relative;
    right:40px;
    margin-left: 10px;
}

a >.linhadois:hover{
    color: #F0FFFF;
}


.um > a > .linhaum{
    margin-left: 20px;
    display: inline-block;
}


a > .linhaum:hover{
    color: #F0FFFF;
}




/*main nav*/

.conteudoMain{
    margin-top: 30px;

}

.conteudoMain > .tres{
    padding:3px;
    columns:8;
    list-style-type: none;
    background-image: linear-gradient(to right, #449acf81 70%, #0452827a);
    width: 120vh;
    margin: auto;
    border-radius: 1px;
    box-shadow: 1px 1px 10px #449acf81;
}


.conteudoMain > .tres > a> .linhatres{
    color: #f0ffff93;
    font-weight: bold;
    text-shadow: 1px 1px 1px #449acf81;
    text-align: center;

}

.conteudoMain > .tres > .procura{
    display: inline-block;
    width: 200px;
    background-color: #3162828e;
}

.conteudoMain > .tres > .botaoMain{
    position: relative;
    display: inline-block;
    width: 1px;
}


/*Principal*/




